@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground antialiased;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

